body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}
.top-left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top-left-nav a {
    margin: 0 5px;
    padding: 5px;
    color: #222;
    font-size: 14px;
    text-decoration: none;
}
.top-left-nav a:hover {
    text-decoration: underline;
}

.top-right-nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}
.top-right-nav a {
    margin: 0 5px;
    padding: 5px;
    color: #222;
    font-size: 14px;
    text-decoration: none;
}
.top-right-nav a:hover {
    text-decoration: underline;
}

.google-title-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: calc(100% - 560px);
    max-height: 290px;
    min-height: 92px;
}
.google-title-space img {
    align-self: center;
}

.google-search-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.google-search-space input{
    width: 550px;
    font-size: 16px;
    height: 40px;
    background-image: url("/images/1x/round_search_black_24dp.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgba(204, 204, 204, 0.493);
}
.google-search-space input:focus{
    border: 1px solid rgba(204, 204, 204, 0.493);
    box-shadow: 0px 0px 2px  0.5px #88888825,
                0px 0px 2px  1px #88888825;
    outline: none;
}
.google-search-space .google-search-buttons {
    padding-top: 18px;
}
.google-search-buttons button{
    margin: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #f2f2f200;

    border-radius: 4px;
    background-color: rgba(204, 204, 204, 0.205);
    color: #222;
}
.google-search-buttons button:hover{
    border:  1px solid #96969642;
}
.google-bottom-space {
    flex-grow: 1;
    flex-shrink: 0;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    padding: 6px;
    justify-content: space-between;
    flex-shrink: 0;
}
.bottom-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height:  47px;
    padding: 0 20px;
}
.bottom-nav a {
    margin: 0 5px;
    padding: 5px;
    color: #222;
    font-size: 14px;
    text-decoration: none;
}
.bottom-nav a:hover {
    text-decoration: underline;
}
.bottom-left-nav {
    display: flex;
    /* background-color: blueviolet; */
    justify-content: flex-start;
    min-width: 30%;
}
.bottom-middle-nav {
    display: flex;
    /* background-color: brown; */
    justify-content: space-between;
}
.bottom-right-nav {
    display: flex;
    /* background-color: coral; */
    justify-content: flex-end;
    min-width: 30%;
}